*.bs.js
*.swo
*.swp
*.tsbuildinfo
.bsb.lock
.DS_Store
.eslintcache
.merlin
.npm
.pnp.*
.vscode-test
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn-integrity
.yarn/unplugged
dist/
lib/
node_modules/
server/**/.env
yarn-debug.log*
yarn-error.log*
